html{
    font-size: 62.5%;
}
*{
    border: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
@font-face { 
    font-family: "fuente";
    src: url("../fonts/Kanit/Kanit.ttf");
}
:root{
    --fuente:'fuente';
}
@font-face {
    font-family: "fuente2";
    src: url("../fonts/Kanit/Kanit_light.ttf");
}

.dis_flex_b{
    display: flex;
    justify-content: space-between;
}
.color_white, a{
    color: rgb(255, 255, 255);
}
.section{
    width: 70vw;
    max-width: 70vw;
    margin: 0 auto;
}
/*---------------------Header------------------------*/
.menu_header{
    background-color: rgb(77, 77, 77);
    align-items: center;
    justify-content: space-evenly;
    height: 15vh;
}
.head_inicio{
    background-image: url(../img/header.jpg);
    height: 100vh;
    min-height: 50vh;
    background-position: center center;
    background-size: cover;  
}
.contenedor_head{
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
}
.contenedor_nav{
    padding: 2rem;
    align-items: center;
}
.contenedor_menu{
    width: 30rem;
    font-family: 'fuente';
    font-size: 1.6rem;
}

.contenedor_menu a:hover{
    color: rgb(89, 179, 0); 
}

.text_head{
    font-size: 3rem;
    line-height: 4rem;
    font-family: 'fuente2';
    margin:10rem 3rem;
}

/*----------------------------------------------------------------*/
/* n=section nosotros */
.title_n{
    font-family: var(--fuente);
    text-align: center;
    padding: 5rem 2rem 2rem 2rem;
    font-size: 2rem; 
}
.section_n{
    height: 85vh;
    max-height: 85vh;
    margin: auto;
}
.article_n{
    width: 33.3vw;
    height: 70vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0rem 3rem;
    font-family: 'fuente2';
    font-size: 1vw;
    line-height: 2vw;
}
.icono_n{
    width: 10vmax;
    max-width: 10vmax;
}
.icono3{
    width: 7vmax;
    max-width: 7vmax;
}
@media (max-width:480px){
    .section_n{
        display: grid;
        grid-template-columns:1fr;
    }
}
/*--------------------------------------------------------------*/
.section_depart{
    margin: 0 auto;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.contenedor_depart{
    background-color: rgb(233, 233, 233);
    width: 20vw;
    flex-direction: column;
    font-family: 'fuente';
    padding-bottom: 2vh;
    justify-content: center;
    font-size: 1vw;
}
.article_depart{
    width: 20vw;
    box-shadow: 0.3vw 0.3vw 0.5vw rgba(0, 0, 0, 0.46);
    margin-bottom: 2vw;
}
.section_depart h2{
    margin: 2rem 2rem 0rem 2rem;
}

.article_depart p{
    padding: 1vw 2vw 1vw 2vw;
    line-height: 2vw;
}
.iconos_depart{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1vw;
}
.img_icono{
    width: 3vw;
    max-width: 3rem;
}
.btn_d{
    background-color: rgb(172, 138, 0);
    display:block;
    text-align: center;
    width: 17vw;
    max-width: 17vw;
    padding: 1vh 1vh 1.4vh 1vh;
    margin: 1rem auto;
    font-size: 1.2vw;
}
.p_costo{
    color: rgb(0, 162, 0);
    font-weight: 700;
    font-size: 1vw;
}
.h1_depart{
    font-family: 'fuente';
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    margin-top: 2vw;
}
.btn_verde{
    background-color: rgb(36, 143, 1);
    display: block;
    width: 20vh;
    text-align: center;
    max-width: 20vw;
    padding: 1vw 2vw;
    font-size: 1.3rem;
}
.contenedor_btn_d{
    margin: 2vw auto;
    display: flex;
    justify-content: flex-end;
}
/*-----------------------------------------------------------------*/
.header_inter{
    flex-direction: column;
    font-size: 2rem;
    height:45vh;
    padding:5rem;
    font-family:'fuente2';
}
.btn_inter{
    font-size: 1.5rem;
    background-color: rgb(172, 138, 0);
}
.section_inter{
    background-image: url(../img/encuentra.jpg);
    background-size: cover;
    background-position: center center;
    margin: 1rem auto;
    height: 60vh;
}
/*---------------------------------------------------*/
.section_blog{
    margin: 0 auto;
    font-family: 'fuente';
    margin-bottom: 5vw;
}
.h2_blog{
    text-align: center;
    font-family: 'fuente';
    font-size: 1.5vw;
    padding: 1vw;
}
.contenedor_blog img{
    width: 20vw;
    border-radius: 0.3vw;
}
.article_blog{
    margin-bottom: 1vw;
}
.blog_p{
    flex-direction: column;
    justify-content: center;
    font-size: 1vw;
    line-height: 2vw;
    width: 80%;
    padding: 1rem;
}
.blog_p h2{
    padding: 0rem 1rem;
}
.contenedor_test article{
    background-color: violet;
    border-radius: 0.5vw;
    width: 25vw;
    font-size: 2vw;
    padding: 2vw 2vw 2vw 1.5vw;
    align-items: flex-start;
    font-family: 'fuente2';
    margin-top: 3vw;
}
.contenedor_test img{
    float: left;
    width: 5vw;
    max-width: 5vw;
}
.p_test{
    margin-top: 1vw;
}
.autor_test{
    display: block;
    margin-top: 1vw;
    text-align: right;
    font-size: 1.2vw;
}
.footer_prinsipal{
    background-color: rgb(55, 55, 55);
    height: 10vh;
    font-size: 1.3vw;
    text-align: center;
    padding: 3vh;
    font-family: 'fuente2';
    align-items: center;
}
main{
    font-family: 'fuente';
    padding-bottom: 17vh;
    margin: 0 auto;
}
main h1{
    text-align: center;
    font-size: 2vw;
}
.contenedor_nosotros{
    margin: 3vw auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3vw;
}
.contenedor_nosotros img{
    border-radius: 0.3vw;
}
.contenedor_nosotros p{
    font-size: 1vw;
    font-family: 'fuente2';
    padding-top: 1vh;
    line-height: 2vw;
}
/*---------------------------------contacto-----------------------------*/
.section_form{
    flex-direction: column;
    align-items: center;
}
.section_form fieldset{
    border: solid 0.1vw rgb(201, 201, 201);
    padding: 2vw;
}
.section_form legend{
    padding: 1vw;
    font-size: 1vw;
    color: rgb(199, 199, 199);
}
.f_personal{
    flex-direction: column;
    width: 30vw;
}
.f_propiedad{
    flex-direction: column;
}
.section_form input{
    padding: 0.5vw;
    margin-top: 0.3vw;
    border-radius: 0.2vw;
    outline: none;
    border: 0.01vw solid rgb(211, 211, 211);
    font-family: 'fuente2';
}
.section_form h2{
    font-size: 1.3vw;
    margin-top: 1vw;
}
.section_form label{
    color: rgb(155, 155, 155);
}
.section_form select, textarea{
    border: 0.01vw solid rgb(211, 211, 211);
    outline: none;
}
.section_form textarea{
    height: 10vh;
    padding: 0.3vw;
}
.btn_form{
    color: white;
    background-color: rgb(8, 163, 0);
    width: 6vw;
    font-size: 0.9vw;
}
.option{
    color: rgb(155, 155, 155);
}